<!DOCUMENT html>
<html>
  <head>
    <%= include_granule("granules/meta_tags.erb") %>
    <title><%= @page_data[:title] %></title>
    <%= include_granule("granules/css_styles.erb") %>
    <%= include_granule("granules/w3_framework.erb") %>
  </head>

  <body>
    <%= @page_content %>
  </body>
</html>
