<% set_layout("layouts/default_layout.erb", title: "Mash-97 | TheArtOfMyInnateDomain") %>

<nav class="w3-bar w3-black w3-padding w3-card w3-wide w3-xlarge">
  <a href="/" class="w3-bar-item w3-button w3-hover-text-purple w3-ripple">Mash-97</a>   
</nav>

<div class="w3-container w3-card w3-brown w3-padding-32">
  <div class="w3-center w3-container w3-padding-32 w3-dark-gray">
    <h1 class="w3-wide w3-jumbo">The Art of My Innate Domain</h1>
    <p class="w3-opacity w3-cursive w3-xxlarge"><%= @taomid_vb %></p>
  </div>
  
  <% for element in @elements %>
  <section class="w3-container w3-center w3-card w3-padding-64" id="<%= element.name %>">
    <h2 class="text-center element-header"><%= element.name.split("_").map(&:capitalize).join(" ") %></h2> 
    
    <% if element.images.size > 0 %>
    <img class="w3-image w3-round" src="<%= include_asset(element.images[0]) %>" alt="<%= element.name %>">
    <% end %>
    
    <p class="w3-justify"><%= element.vibe %></p>
    
    <% if element.songs.size!=0 %>
    
    <div class="w3-container w3-center">
      <div class="w3-opacity"><%= File.basename(element.songs[0]).split(File.extname(element.songs[0]))[0] %></div>
      <audio controls>
      
	<% for song_path in element.songs %>
	<source src="<%= include_asset(song_path) %>" type="audio/mpeg"> 
	<% end %>
	
      </audio>
    </div> 
    <% end %>
  </section>
  <% end %>
</div>

<footer class="w3-container w3-black w3-center">
  <% @contacts.each do |type, slugs| %>
  <div class="w3-panel">
    <a href="<%= slugs[:url] %>" class="w3-button">
      <i class="fa fa-<%= type %>"></i> <%= slugs[:name] %>
    </a>
  </div>
  <% end %>
</footer>

